@model IEnumerable<DBMS_project_10514575_.Models.tbl_Laptop>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Client.ClientName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Client.ClientName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SerialNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.SerialNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SerialNo })
        </td>
    </tr>
}

</table>
