@model IEnumerable<DBMS_project_10514575_.Models.tbl_Branch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EIRCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EIRCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BranchID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BranchID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BranchID })
        </td>
    </tr>
}

</table>
