@model DBMS_project_10514575_.Models.tbl_Services

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_Services</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Category.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Category.CategoryType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
