@model DBMS_project_10514575_.Models.tbl_Services

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Services</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Category.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Category.CategoryType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
